.about {
  background: $gradient;

  padding: 50px 22px 40px;

  &__conteiner {
    @extend %container;
  }

  &__img {
    width: 100%;
  }

  &__title {
    &--small {
      @include on-tablet {
        display: none;
      }
    }

    &--big {
      display: none;

      @include on-tablet {
        display: block;
      }
    }
  }

  &__title_aqua {
    @extend %aqua;
  }

  &__text {
    color: $textColor;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 48px;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 50%;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__bottom-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 70%;
  }

  &__about-list {
    display: none;

    @include on-tablet {
      overflow: visible;
      display: flex;
      flex: 0 0 30%;
      gap: 36px;
    }
  }

  &__about-item {
    @for $i from 1 through 8 {
      &--#{$i} {
        opacity: 1 / ($i * $i);
      }

      @if $i % 2 == 0 {
        &--#{$i} {
          transform: rotate(180deg);
        }
      }
    }

    &_active {
      filter: drop-shadow(4px 4px 6px white);
      opacity: 1;
    }
  }

  &__video_wrap {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100svh;
    inset: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__video-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  &__video {
    max-width: 300px;
    max-height: 240px;
  }

  &__btnPlay {
    height: 89px;
    width: 320px;
    background-image: url('../images/default_play.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @include hover(background-image, url('../images/selected_play.svg') )
  }
}
