.footer {
  padding: 50px 22px 40px;

  background: $black;

  &__logo {
    cursor: pointer;
    margin-bottom: 16px;

    @include hover(transform, scale(1.2));
  }

  &__info {
    color: $textColor;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__text {
    width: 50%;
  }

  &__item {
    display: flex;
  }

  &__icon {
    margin-right: 22px;
  }
}
