.tech {
  background-color: $backgroundBlack;
  padding: 50px 22px 40px;

  @include on-tablet {
    padding: 75px 22px;
  }

  @include on-desktop {
    padding: 100px 22px;
  }

  &__container {
    @extend %container;

    display: flex;
  }

  &__title {
    @include on-desktop {
      text-align: end;
      margin-bottom: 98px;
      margin-right: 148px;
    }
  }

  &__title_aqua {
    @extend %aqua;
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
  }

  &__img-box {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__img {
    height: 300px;
    z-index: 2;
  }

  &__img-border {
    display: none;

    @include on-desktop {
      display: block;
      position: absolute;
      top: 45px;
      left: -10px;
    }
  }

  &-title {
    color: white;
    display: none;
    transition: color 0.3s;

    @include on-desktop {
      display: block;
    }
  }

  &__item {
    position: absolute;
    color: $textColor;

    &:hover {
      cursor: pointer;

      @include hover(color, white);
    }

    &:hover .tech__item-title {
      color: $contrastColor;
    }

    &-btn {
      position: absolute;
      z-index: 2;
      width: 34px;
      height: 34px;
      display: block;
      background-image: url('../images/plus.svg');
      transition: background-image 0.3s;

      @include on-desktop {
        display: none;
      }

      &--close {
        background-image: url('../images/minus.svg');
      }

      &--1 {
        top: -12px;
        left: -40px;
      }

      &--2 {
        top: 82px;
        left: 34px;
      }

      &--3 {
        top: 154px;
        left: -120px;
      }
    }

    &-content {
      position: absolute;
      z-index: 3;
      background-color: $darkBlue;
      padding: 10px;
      border-radius: 4px;
      width: max-content;
      max-width: 240px;
      display: none;
      font-size: 12px;
      line-height: 14px;

      @include on-tablet {
        font-size: 16px;
        line-height: 20px;
      }


      @include on-desktop {
        background-color: transparent;
        cursor: auto;
      }

      @include on-desktop {
        display: block;
      }

      &--1 {
        top: 33px;
        left: -174px;

      @include on-tablet {
        top: 15px;
        left: -199px;
      }

        @include on-desktop {
          top: -90px;
          left: -510px
        }
      }

      &--2 {
        top: -53px;
        left: -61px;

      @include on-tablet {
        top: -47px;
        left: 65px;
      }

        @include on-desktop {
          top: -38px;
          left: 285px;
        }
      }

      &--3 {
        top: 174px;
        left: -82px;

        @include on-desktop {
          top: 158px;
          left: -502px;
        }
      }
    }

    &-line {
      position: absolute;
      display: none;

      @include on-desktop {
        display: block;
      }

      &--1 {
        top: -72px;
        left: -434px;
      }

      &--2 {
        top: 68px;
        left: -390px;
      }

      &--3 {
        z-index: 1;
        top: -22px;
        left: 150px;
      }
    }
  }
}
