@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin on-full-hd {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin autofill($bg: #fff, $color: #000) {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #{$bg} inset;
    -webkit-text-fill-color: $color;
    transition: background-color 5000s ease-in-out 0s;
  }
}
