$contrastColor: #05C2DF;
$backgroundBlack: #05040B;
$darkGrey: #2F2F2F;
$darkBlue: #191536;
$textColor: #929292;
$white: #FFF;
$black: #000;
$gradient: linear-gradient(100.83deg, #191536 0.67%, #000 100%);

